<mat-toolbar color="primary" class="mat-elevation-z8" >
    <button mat-button color="secondary">My App</button>
    <button mat-button color="secondary">Personajes</button>
    <button mat-button color="secondary">Estudiantes</button>
    <button mat-button color="secondary">Profesores</button>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
